# Python
venv/
__pycache__/
*.pyc

# Airflow
airflow.cfg
unittests.cfg
logs/

# dbt & DuckDB
profiles/
target/
dbt_modules/
dbt_packages/
*.db
*.duckdb
data/

# dbt
cotacoes_b3/target/
cotacoes_b3/dbt_packages/
cotacoes_b3/logs/

# DuckDB
*.duckdb

# Streamlit
.streamlit/

# Outros
.env
C:* # Para evitar aquele arquivo estranho com caminho do Windows